body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size:80px
}
  
.container{
    display : grid;
    grid-template-columns:1fr 4fr;
    grid-template-rows:100vh;

}
.rem{
    display: grid;
    grid-template-rows: 0.5fr 3fr;
    
}
.side-bar{
    display: grid;
    grid-template-rows:1.2fr 2fr 2fr;
    background-color: hsla(203, 100%, 49%, 0.945);
    
    padding-left: 20px;
    
}
.side-bar div{
    color:white;

}

.header{
    
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 0.5fr 0.7fr;
    background-color:white;
    /* align-items: flex-end; */
    padding-left:20px;
    /* justify-content: flex-end; */

}

.main-content{
    background-color: rgba(234, 234, 234, 0.8);
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    column-gap: 2vw;
    grid-template-rows: 8vh 500px;
    padding-left: 0.5vw;
    /* padding-top:1vw; */
    /* padding-bottom: 2vh; */
}
.cat-1{
    display: grid;
    grid-template-columns: repeat(2,0.5fr);
    grid-template-rows:repeat(3,1fr);
    row-gap: 1.2vh;
    column-gap: 2vw;
    

}
.cat-2{
    display: grid;
    padding-right:20px;
    padding-top: 10px;
    grid-template-rows: 1.5fr 10px 1fr;
    row-gap: 30px;
}

.item{
    background-color: white;
    border-radius: 2vh;
    text-align: center;
    padding:20px;
}
.cat-1 .item{
    border-left: 1vh solid rgba(255, 208, 0, 0.959);
}
button{
    border-radius: 40px;
    padding: 10px 30px;
    background-color: rgb(0, 179, 249);
    color:white;
    border:none;
    height: 3vh;
    width: 4vw;
    font-size: 40px;
    margin-right:1vw;
}
.dashboard img{
    height:10vh;
    width:6vw;
    padding-top: 10px;
   
}
img{
    height:3vh;
    width: 10vw;
    padding-right: 10px;
}
.cat-2 img{
    height: 6vh;
    width: 11vw;
    
}
.search img{
    height : 3vw;
    width:35vw;
    padding-top:30px;
}

.btn{
    /* background-color: brown; */
    padding-left:12vw;
    padding-top: 8vh;
}
.info{
    /* background-color: brown; */
    margin-top: 2vh;
    
}
.info p{
    margin-left:1vw;
}