body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
  
.container{
    display : grid;
    grid-template-columns: 0.8fr 4fr;
    grid-template-rows:100vh;
    height: 100vh;
    width: 100vw;
}
.rem{
    display: grid;
    grid-template-rows: 0.6fr 4fr;
    
}
.side-bar{
    display: grid;
    grid-template-rows:100px 250px 150px;
    background-color: hsla(203, 100%, 49%, 0.945);
    
    padding-left: 20px;
    
}
.side-bar div{
    color:white;
    font-size: large;
}
.header{
    
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 0.8fr 0.5fr;
    background-color:white;
    align-items: flex-end;
    padding-left:20px;
    justify-content: flex-end;

}

.main-content{
    background-color: rgba(234, 234, 234, 0.8);
    display: grid;
    grid-template-columns: 2.5fr 0.6fr;
    column-gap: 15px;
    grid-template-rows: 30px 500px;
    padding-left: 20px;
    padding-top:20px;
    padding-bottom: 40px;
}
.cat-1{
    display: grid;
    grid-template-columns: repeat(2,0.6fr);
    grid-template-rows:repeat(3,0.5fr);
    row-gap: 20px;
    column-gap: 20px;
    padding-top:10px;

}
.cat-2{
    display: grid;
    padding-right:20px;
    padding-top: 10px;
    grid-template-rows: 1.5fr 10px 1fr;
    row-gap: 30px;
}

.item{
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding:20px;
}
.cat-1 .item{
    border-left: 7px solid rgba(255, 208, 0, 0.959);
}
button{
    border-radius: 20px;
    padding: 10px 30px;
    background-color: rgb(0, 179, 249);
    color:white;
    border:none;
    margin-right: 20px;
    margin-bottom: 20px;
    
}
.dashboard img{
    height: 40px;
    width: 40px;
    padding-right: 10px;
   
}
img{
    height: 20px;
    width: 20px;
    padding-right: 10px;
}
.cat-2 img{
    height: 25px;
    width: 25px;
}
.search img{
    height : 70px;
    width:600px;
}

